@use '../variables';

.section {
  background: rgba(variables.$mainColorDarkRGB, 0.5);
  display: flex;
  justify-content: center;
  width: 100%;
}

.portfolioGridSection {
  max-width: variables.$breakpointMaxWidth;
  overflow: hidden;
  padding: 0 max(4rem, env(safe-area-inset-left));
  padding-bottom: 5em;
  width: 100%;
  @media screen and (max-width: variables.$breakpointTablet) {
    padding: 0 2.5em;
    padding-bottom: 5em;
  }
}

.portfolioGrid {
  display: grid;
  grid-gap: 2.5em 6em;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: space-between;
  margin-bottom: 6em;
  width: 100%;
  @media screen and (max-width: variables.$breakpointTabletBig) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media screen and (max-width: variables.$breakpointMobileBig) {
    grid-template-columns: 1fr;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
}
