@use 'variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  background-color: variables.$mainBackgroundColor;
  min-height: 100vh;
  font-family: variables.$standardFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  font-size: 1.6rem;
  &.lock-scroll {
    overflow: hidden;
    height: 100%;
  }
}
a,
.link-tag:hover,
.link-tag:active,
.link-tag:focus,
.link-tag:visited {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

section.section {
  display: flex;
  justify-content: center;
  width: 100%;
}
