@use '../variables';

.section {
  background-color: rgba(variables.$mainColorLightRGB, 0.2);
  display: flex;
  justify-content: center;
  width: 100%;
}

.skillsAboutSection {
  display: flex;
  gap: 4em;
  max-width: variables.$breakpointMaxWidth;
  padding: 0 max(4rem, env(safe-area-inset-left));
  padding-bottom: 5em;
  width: 100%;
  @media screen and (max-width: variables.$breakpointTablet) {
    padding: 0 2.5em;
    padding-bottom: 5em;
  }
  @media screen and (max-width: variables.$breakpointMobileBig) {
    gap: 0;
    flex-direction: column-reverse;
  }
}

.about {
  width: 50%;
  @media screen and (max-width: variables.$breakpointMobileBig) {
    width: 100%;
    padding-right: 0;
  }
}

.historyList {
  color: variables.$mainColorLight;
  font-size: 1.6rem;
  list-style: none;
  li {
    list-style: none;
    width: 100%;
    h3 {
      color: variables.$mainAccentColor;
      font-family: variables.$headingsFont;
      font-size: clamp(1.8rem, 2vw, 2.2rem);
      font-weight: 400;
      letter-spacing: 0.15em;
      margin-bottom: 1em;
      margin-top: 2em;
      text-align: center;
      text-transform: uppercase;
    }
    ul {
      margin-bottom: 2em;
      position: relative;
      li {
        margin-bottom: 1em;
        position: relative;
        width: calc(50% - 20px);
        i {
          background-color: variables.$mainAccentColor;
          border-radius: 50%;
          height: 16px;
          margin-top: -8px;
          position: absolute;
          top: 50%;
          width: 16px;
        }
        &.professional {
          margin-left: calc(50% + 20px);
          text-align: left;
          span {
            &:nth-of-type(1) {
              color: variables.$mainAccentColor;
              display: block;
              font-size: 0.7em;
              text-transform: uppercase;
            }
            &:nth-of-type(2) {
              display: block;
              font-size: 0.7em;
              font-weight: bold;
              margin-top: 0.3em;
            }
          }
          i {
            left: -28px;
          }
        }
        &.personal {
          text-align: right;
          i {
            right: -28px;
          }
        }
      }
      &:before {
        background-color: variables.$mainAccentColor;
        content: '';
        display: block;
        height: calc(100% + 3em);
        left: -2.5px;
        margin-left: 50%;
        position: absolute;
        top: calc(0px - 0.75em);
        width: 5px;
      }
    }
    &:last-of-type ul:before {
      height: calc(100% - 12px);
    }
  }
}

.skills {
  width: 50%;
  @media screen and (max-width: variables.$breakpointMobileBig) {
    width: 100%;
    padding-left: 0;
  }
}

.skillsList {
  color: variables.$mainColorLight;
  font-size: clamp(1.5rem, 1.7vw, 1.8rem);
  list-style: none;
  li {
    background-color: rgba(variables.$mainColorDarkRGB, 0.5);
    border-radius: 0.5em;
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 1em;
    margin-top: 3em;
    padding: 1em;
    width: 100%;
    h3 {
      color: variables.$mainAccentColor;
      font-family: variables.$headingsFont;
      font-size: clamp(1.8rem, 2vw, 2.2rem);
      font-weight: 400;
      letter-spacing: 0.15em;
      margin-bottom: 1em;
      text-align: center;
      text-transform: uppercase;
    }
    ul {
      text-align: center;
      li {
        background: none;
        border: 1px solid variables.$mainColorLight;
        border-radius: 0.5em;
        color: variables.$mainColorLight;
        cursor: default;
        display: inline-block;
        font-size: 0.7em;
        margin: 0.5em;
        padding: 0.5em 1em;
        text-transform: uppercase;
        transition: transform ease-out 0.3s, color ease-out 0.3s,
          border-color ease-out 0.3s;
        width: auto;
        &:hover {
          border-color: variables.$mainAccentColor;
          color: variables.$mainAccentColor;
          transform: scale(1.05);
        }
      }
    }
  }
}
