@use '../variables' as *;

.section {
  background-color: rgba($mainColorDarkRGB, 0.75);
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
  width: 100%;
}

@keyframes waveAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.footerSection {
  max-width: $breakpointMaxWidth;
  overflow: hidden;
  padding: 0 max(4rem, env(safe-area-inset-left));
  width: 100%;
  @media screen and (max-width: $breakpointTablet) {
    padding: 0 2.5em;
  }
  p {
    color: rgba($textLightRGB, 0.8);
    font-size: clamp(1.5rem, 1.7vw, 1.8rem);
    line-height: 2em;
    text-align: center;
    @media screen and (max-width: $breakpointMobileBig) {
      text-align: left;
      &.copy {
        text-align: center;
      }
    }
    span {
      animation-duration: 2.3s;
      animation-iteration-count: infinite;
      animation-name: waveAnimation;
      display: inline-block;
      font-size: 1.4em;
      margin-left: 0.25em;
      transform-origin: 70% 70%;
    }
    &.copy {
      color: rgba($textLightRGB, 0.8);
      font-size: clamp(1.1rem, 1.3vw, 1.4rem);
      a {
        color: rgba($textLightRGB, 0.8);
        text-decoration: none;
        &:hover {
          color: rgba($textLightRGB, 1);
        }
      }
    }
  }
}

.footerContent {
  display: flex;
  flex-direction: column;
  max-width: $breakpointMaxWidth;
  width: 100%;

  .socialLinksContainer {
    align-items: center;
    display: flex;
    gap: clamp(2em, 2.8vw, 3em);
    justify-content: center;
    margin: 4em 0;
    width: 100%;
    a {
      height: clamp(3.4rem, 3.6vw, 4.6rem) !important;
      transform: scale(1);
      transition: transform ease-out 0.2s;
      width: clamp(3.4rem, 3.6vw, 4.6rem) !important;
      &:hover {
        transform: scale(1.1);
        transform-origin: center;
      }
    }
  }
}
