@use './variables' as *;

.navBg {
	background: $mainAccentColor;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	transform: translateZ(2500px);
	width: 100%;
	z-index: 2500;
}

.nav {
	align-items: center;
	display: flex;
	height: 60px;
	justify-content: space-between;
	max-width: $breakpointMaxWidth;
	padding: 0 max(4rem, env(safe-area-inset-left));
	position: relative;
	width: 100%;
	@media screen and (max-width: $breakpointTablet) {
		padding: 0 1em 0 2.5em;
	}
}

.logoTitle {
	align-items: center;
	color: $mainColorDark;
	cursor: pointer;
	display: flex;
	font-family: $headingsFont;
	font-size: 2.2rem;
	font-weight: 250;
	letter-spacing: 0.07em;
	line-height: 0.9;
	text-transform: uppercase;
	span:nth-child(3) {
		font-weight: 500;
	}
	span:nth-child(1),
	span:nth-child(4) {
		font-weight: 200;
		line-height: 0.2;
		margin-top: -0.4em;
		transform: scale(1, 1.72);
	}
	transition: transform ease-in-out 0.2s;
	&:hover,
	&:focus {
		transform: scale(1.05);
	}
}

.menu {
	align-items: center;
	display: flex;
	list-style-type: none;
	li {
		font-size: clamp(1.4rem, 1.5vw, 1.8rem);
		font-weight: 500;
		margin-left: 1em;
		margin-top: 0.45em;
		a {
			cursor: pointer;
			color: $mainColorDark;
			display: block;
			padding: 0.5em 1em;
			&:hover,
			&:focus {
				outline: none;
				text-decoration: none;
				::after {
					width: 100%;
				}
			}
			&::after {
				background: $mainColorDark;
				content: '';
				display: block;
				font-size: clamp(1.4rem, 1.5vw, 1.8rem);
				height: 0.12em;
				margin-top: 0.2em;
				transition: width ease-out 0.2s;
				width: 0;
			}
		}
	}
	@media screen and (max-width: $breakpointTablet) {
		display: none;
	}
}

.menuToggle {
	color: $mainColorDark;
	cursor: pointer;
	display: none;
	padding: 0.5em;
	svg {
		margin-top: 0.1em;
	}
	@media screen and (max-width: $breakpointTablet) {
		display: block;
	}
}

.mobileNav {
	background: rgba($mainColorDarkRGB, 0.95);
	height: 100vh;
	left: 0;
	padding: 3rem;
	position: fixed;
	top: 0;
	touch-action: none;
	transform: translateZ(3000px);
	width: 100vw;
	z-index: 3000;
}

.closeMobileMenu {
	color: $mainAccentColor;
	cursor: pointer;
	padding: 0.5em;
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.mobileMenu {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: center;
	list-style-type: none;
	padding-top: 0;
	width: 100%;
	li {
		opacity: 0;
		font-size: clamp(2.4rem, 5vw, 3.2rem);
		font-weight: 400;
		margin-top: 0;
		a {
			color: $mainAccentColor;
			display: block;
			padding: 0.5em 1em;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
	@media (orientation: portrait) {
		padding-top: 5vh;
		flex-direction: column;
		justify-content: flex-start;
		li {
			margin-top: 5vh;
		}
	}
}

.navBarSpacer {
	display: block;
	width: 100%;
}
